{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      [:mtg :openai :qdrant]
          :boot         [net.wikipunk.mtg.boot]
          :config       {:xtdb.lucene/lucene-store {}
                         #_{:db-dir ".vocab/lucene"}}}
 :openai {:sc/create-fn net.wikipunk.openai/map->Client}
 :qdrant {:sc/create-fn net.wikipunk.qdrant/map->Client
          :sc/refs      [:openai]}
 :mtg    {:sc/create-fn net.wikipunk.mtg/map->MTG
          :sc/refs      [:openai :qdrant]}
 :client {:sc/create-fn datomic.client.api/client
          :server-type  :dev-local
          :system       "dev"}
 :db     {:sc/create-fn net.wikipunk.datomic/map->Connection
          :sc/refs      [:client]
          :db-name      "mtg"}}
